emacs.el
.cache/
.extension/
auto-save-list/
temps/
elpa/
url/
emacs_backtrace.txt
eshell/
custom--ignored.el
custom--ignored.elc
ido.last
network-security.data
projectile-bookmarks.eld
projectile.cache
recentf
semanticdb/
server/
tramp
TAGS
var/
copilot.el/

recentf
recentf~
session.*
GPATH
GTAGS
GRTAGS
emacs.tex
ac-comphist.dat
custom.el
transient/history.el
.lsp-session*
*.elc
package-quickstart.el
.dap-breakpoints
eln-cache/
projects
bookmarks
async-bytecomp.log